.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-left: 200px;
  margin-right: 20px;
  margin-top: 50px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: Quicksand;
  font-size: 10px;
}

.album-pic {
	width: 200px;
	cursor: pointer;

}

.album-caption {
	font-family: Quicksand;
	font-size: 12px;
}

.fav-heart {
	cursor: pointer;
	position: relative;
	top: 5px;
}