#album-picture {
	margin-left: auto;
	width: 250px;
	float: left;
	position: relative;
	left: 300px;
}

#album-info {
	margin-left: auto;
	font-size: 16px;
	position: relative;
	clear: right;
}

#tracklisting {
	position: relative;
	top: 50px;
	clear: both;
}

#backToPrev {
	position: relative;
	bottom: -50px;
}