body {
	background-color: #232323;
	text-align: center;
	color: #ffffff;
	font-family: Quicksand;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #39A6ED;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: white;
}

/* ----------------------SIDENAV--------------------------*/

#sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

#nav-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: 111111;
  color: white;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-item {
	padding: 5px;
}

#sidenav .nav-item a {
	position: relative;
	top: -5px;
	left: 10px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;  
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#heart-vol {
	width: 140px;
}

/* ----------------------------------------*/

#logo {
	margin: auto;
	width: 100%;
	position: relative;
	padding-top: 0px;
	text-align: center;
	
}

h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 3em;
	color: #38CCA8;
}

#avocado {
	width: 75px;
	margin: 0px;
	padding: 0px;
	position: relative;
	left: 5px;
	top: 10px;
}

/* ----------------------------------------*/

#top-nav {
	font-family: VT323;
	font-size: 16px;
	letter-spacing: 5px;
}

#top-nav a:active {
	color: #EB8AEB;
}

#top-nav a:link {
	color: white;
}

#top-nav a:visited {
	color: #EB8AEB;
}

#top-nav a:hover {
	color: #EB8AEB;
}


/* ----------------------------------------*/

#content {
	margin: auto;
	width: 80%;
	padding-top: 50px;
	padding-left: 200px;
	position: relative;
}

.artist-pic {
	width: 100px;
	border-radius: 50%;
}

#content a {
	position: relative;
	top: -37px;
	left: 10px;
}